*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.coverage

.vscode/
.idea/

.venv/
env/
venv/

*.swp
*.swo

build/
dist/
*.egg-info/

software_standalone/.venv/
hardware/~$材料清单.xlsx
hardware/3D模型及打印文件/打印全盘文件