<launch>
  <arg name="map_yaml" default="" />
  <arg name="scan_topic" default="/scan" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="cmd_vel_manual_topic" default="/cmd_vel_manual" />
  <arg name="cmd_vel_auto_topic" default="/cmd_vel_auto" />
  <arg name="cmd_vel_mux_topic" default="/cmd_vel_mux_raw" />
  <arg name="stand_topic" default="/stand_cmd" />
  <arg name="walk_topic" default="/walk_cmd" />
  <arg name="idle_topic" default="/idle_cmd" />
  <arg name="enable_topic" default="/spot_micro/auto_mode/enable" />
  <arg name="stop_topic" default="/spot_micro/auto_explore/stop" />
  <arg name="state_topic" default="/spot_micro/auto_explore/state" />
  <arg name="source_topic" default="/spot_micro/cmd_vel_arbiter/source" />

  <arg name="base_frame" default="base_footprint" />
  <arg name="odom_frame" default="odom" />
  <arg name="global_frame" default="map" />

  <arg name="run_motion_cmd" default="true" />
  <arg name="run_rplidar" default="true" />
  <arg name="run_mode_manager" default="true" />

  <arg name="rplidar_serial_port" default="/dev/ttyUSB0" />
  <arg name="rplidar_serial_baudrate" default="115200" />
  <arg name="rplidar_frame_id" default="lidar_link" />
  <arg name="rplidar_inverted" default="false" />
  <arg name="rplidar_angle_compensate" default="true" />

  <arg name="wander_config" default="$(find spot_micro_navigation)/config/wander_explorer.yaml" />
  <arg name="arbiter_config" default="$(find spot_micro_navigation)/config/cmd_vel_arbiter.yaml" />
  <arg name="safety_config" default="$(find spot_micro_navigation)/config/safety_gate.yaml" />
  <arg name="amcl_config" default="$(find spot_micro_navigation)/config/amcl.yaml" />

  <arg name="use_map_server" default="true" />
  <arg name="use_amcl" default="false" />
  <arg name="auto_mode_enabled" default="true" />
  <arg name="startup_idle_enabled" default="true" />
  <arg name="startup_idle_delay_sec" default="0.30" />
  <arg name="startup_stand_delay_sec" default="1.80" />
  <arg name="startup_walk_delay_sec" default="1.60" />
  <arg name="startup_auto_enable_delay_sec" default="0.80" />
  <arg name="startup_zero_cmd_duration_sec" default="0.80" />
  <arg name="shutdown_zero_cmd_duration_sec" default="1.00" />
  <arg name="shutdown_stand_hold_sec" default="1.20" />
  <arg name="pulse_count" default="3" />
  <arg name="pulse_interval_sec" default="0.20" />

  <group if="$(arg run_motion_cmd)">
    <include file="$(find spot_micro_motion_cmd)/launch/motion_cmd.launch" />
  </group>

  <node if="$(arg run_rplidar)" name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port" value="$(arg rplidar_serial_port)" />
    <param name="serial_baudrate" value="$(arg rplidar_serial_baudrate)" />
    <param name="frame_id" value="$(arg rplidar_frame_id)" />
    <param name="inverted" value="$(arg rplidar_inverted)" />
    <param name="angle_compensate" value="$(arg rplidar_angle_compensate)" />
  </node>

  <node if="$(arg run_mode_manager)" pkg="spot_micro_navigation" type="nav_mode_manager.py" name="nav_mode_manager" output="screen">
    <param name="stand_topic" value="$(arg stand_topic)" />
    <param name="walk_topic" value="$(arg walk_topic)" />
    <param name="idle_topic" value="$(arg idle_topic)" />
    <param name="enable_topic" value="$(arg enable_topic)" />
    <param name="stop_topic" value="$(arg stop_topic)" />
    <param name="manual_cmd_topic" value="$(arg cmd_vel_manual_topic)" />
    <param name="auto_cmd_topic" value="$(arg cmd_vel_auto_topic)" />
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <param name="auto_enable_after_walk" value="$(arg auto_mode_enabled)" />
    <param name="startup_idle_enabled" value="$(arg startup_idle_enabled)" />
    <param name="startup_idle_delay_sec" value="$(arg startup_idle_delay_sec)" />
    <param name="startup_stand_delay_sec" value="$(arg startup_stand_delay_sec)" />
    <param name="startup_walk_delay_sec" value="$(arg startup_walk_delay_sec)" />
    <param name="startup_auto_enable_delay_sec" value="$(arg startup_auto_enable_delay_sec)" />
    <param name="startup_zero_cmd_duration_sec" value="$(arg startup_zero_cmd_duration_sec)" />
    <param name="shutdown_zero_cmd_duration_sec" value="$(arg shutdown_zero_cmd_duration_sec)" />
    <param name="shutdown_stand_hold_sec" value="$(arg shutdown_stand_hold_sec)" />
    <param name="pulse_count" value="$(arg pulse_count)" />
    <param name="pulse_interval_sec" value="$(arg pulse_interval_sec)" />
  </node>

  <group if="$(arg use_amcl)">
    <include file="$(find spot_micro_navigation)/launch/localization_amcl.launch">
      <arg name="map_yaml" value="$(arg map_yaml)" />
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="base_frame" value="$(arg base_frame)" />
      <arg name="odom_frame" value="$(arg odom_frame)" />
      <arg name="global_frame" value="$(arg global_frame)" />
      <arg name="config_file" value="$(arg amcl_config)" />
    </include>
  </group>

  <node if="$(eval arg('use_map_server') == 'true' and arg('use_amcl') != 'true')"
        pkg="map_server"
        type="map_server"
        name="map_server"
        args="$(arg map_yaml)"
        output="screen" />

  <node pkg="spot_micro_navigation" type="laser_wander_explorer.py" name="laser_wander_explorer" output="screen">
    <rosparam command="load" file="$(arg wander_config)" />
    <param name="scan_topic" value="$(arg scan_topic)" />
    <param name="output_topic" value="$(arg cmd_vel_auto_topic)" />
    <param name="enable_topic" value="$(arg enable_topic)" />
    <param name="stop_topic" value="$(arg stop_topic)" />
    <param name="state_topic" value="$(arg state_topic)" />
    <param name="enabled" value="false" />
  </node>

  <node pkg="spot_micro_navigation" type="cmd_vel_arbiter.py" name="cmd_vel_arbiter" output="screen">
    <rosparam command="load" file="$(arg arbiter_config)" />
    <param name="manual_topic" value="$(arg cmd_vel_manual_topic)" />
    <param name="auto_topic" value="$(arg cmd_vel_auto_topic)" />
    <param name="output_topic" value="$(arg cmd_vel_mux_topic)" />
    <param name="enable_topic" value="$(arg enable_topic)" />
    <param name="source_topic" value="$(arg source_topic)" />
    <param name="auto_enabled" value="false" />
  </node>

  <node pkg="spot_micro_navigation" type="cmd_vel_safety_gate.py" name="cmd_vel_safety_gate" output="screen">
    <rosparam command="load" file="$(arg safety_config)" />
    <param name="input_topic" value="$(arg cmd_vel_mux_topic)" />
    <param name="output_topic" value="$(arg cmd_vel_topic)" />
    <param name="scan_topic" value="$(arg scan_topic)" />
    <param name="require_amcl" value="$(arg use_amcl)" />
  </node>
</launch>
